<div class="limiter">
    <div class="container-login100" style="overflow-x: auto; overflow-y: auto; max-height: 800px;">
        <div class="login100-more" style="background-image: url('../../../Content/Images/cmp-reg_bg.jpg');"></div>

        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
            <form class="login100-form validate-form" name="regForm" style="border-bottom-right-radius:35px; border-top-right-radius:35px;">
                <span class="login100-form-title p-b-59">Sign Up As a Company</span>

                <div id="airlinename-validate" class="wrap-input100 validate-input" data-validate="Company Name is required">
                    <span class="label-input100">Company Name*</span>
                    <input class="input100" type="text" name="airlineName" ng-model="form.airlineName" placeholder="Company Name..." required="required">
                    <span class="focus-input100"></span>
                </div>

                <div id="email-validate" class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <span class="label-input100">Email(UserName)*</span>
                    <input class="input100" type="email" id="email-input" name="email" ng-model="form.email" placeholder="Email address..." required="required">
                    <span class="focus-input100"></span>
                </div>

                <div id="pass-validate" class="wrap-input100 validate-input" data-validate="Password must contain at least 8 characters with one uppercase letter, one lowercase letter, number and special character">
                    <span class="label-input100">Password*</span>
                    <input class="input100" type="password" id="pass-input" name="pass" ng-model="form.password" placeholder="*************" autocomplete="on" required="required">
                    <span class="focus-input100"></span>
                </div>

                <div id="country-validate" class="wrap-input100 validate-input" data-validate="Country is required">
                    <span class="label-input100">Country*</span>
                    <select class="input100" id="countryId" name="country" ng-model="form.country" required="required"
                            ng-options="country for country in allCountries" ng-init="form.country=allCountries[0]">
                        <option style="display:none" value="Choose Country" selected>Choose Country</option>
                    </select>
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-m w-full p-b-33">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="termsAgree" ng-model="form.agree" required="required">
                        <label class="label-checkbox100" for="ckb1">
                            <span id="agree-validate"  class="txt1">We agree to the Terms of Company*</span>
                        </label>
                    </div>
                </div>


                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="button" ng-click="onSubmit(regForm.$valid)">
                            Sign Up
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>